<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>
<header class="bg-info text-center text-white p-4 mb-3">
    <h2>Food Ordering System</h2>
    <h6> A more compact way to keep track of orders! hi </h6>
</header>

<div class="container bg-secondary pl-5" id="cont">

    <form method="post" action="/getamount">

        <input class="rounded bg-light col-8 my-4 p-2" id="new-item" name="new_item" placeholder="Enter billno...">


        <input type="submit" class="btn btn-success" id="sub" value="calculate total" >

    </form>


</div>



</body>

</html>